*~
*.swp
*.o
*.la
*.lo
.deps
.libs
GPATH
GRTAGS
GSYMS
GTAGS
INSTALL
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache
/build-aux
/config.*
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/libmodbus.pc
/libmodbus.spec
/stamp-h1
/*.sublime-*
src/modbus-version.h
src/win32/modbus.dll.manifest
tests/bandwidth-client
tests/bandwidth-server-many-up
tests/bandwidth-server-one
tests/random-test-client
tests/random-test-server
tests/unit-test-client
tests/unit-test.h
tests/unit-test-server
tests/version
tests/stamp-h2
doc/*.html
doc/*.3
doc/*.7
debian/*.log
debian/*.debhelper
debian/*.substvars
debian/files
debian/libmodbus-dev/
debian/libmodbus5/
debian/stamp-*
debian/tmp/
debian/libmodbus-dbg/
