Source: libmodbus
Priority: extra
Maintainer: Stéphane Raimbault <stephane.raimbault@gmail.com>
Standards-Version: 3.7.3
Section: libs
Build-Depends: debhelper (>= 5.0.37.2),
               cdbs (>= 0.4.43),
               autotools-dev,
               dpkg-dev (>= 1.13.19)

Package: libmodbus
Section: libs
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: A Modbus library in C, which supports RTU communication over a serial line or a TCP link.
 A Modbus library for Linux (and OSX) wrote in C and which supports
 RTU communication over a serial line or a TCP link. Clean and fast!
 Supports controling an RTU and being an RTU.
 .
 This package contains the shared library.

Package: libmodbus-dev
Section: libdevel
Architecture: any
Depends: libmodbus (= ${binary:Version}),
         ${shlibs:Depends},
         ${misc:Depends}
Description: A Modbus library in C, which supports RTU communication over a serial line or a TCP link.
 A Modbus library for Linux (and OSX) wrote in C and which supports
 RTU communication over a serial line or a TCP link. Clean and fast!
 Supports controling an RTU and being an RTU.
 .
 This package contains the development files.



