Source: libmodbus
Priority: extra
Maintainer: Ivo De Decker <ivo.dedecker@ugent.be>
Standards-Version: 3.9.4
Section: libs
Build-Depends: debhelper (>= 9), asciidoc, xmlto, dh-autoreconf
Homepage: http://libmodbus.org/

Package: libmodbus5
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Description: library for the Modbus protocol
 A Modbus library written in C, to send/receive data with a device which
 respects the Modbus protocol. This library can use a serial port or an
 Ethernet connection.
 .
 This package contains the shared library.

Package: libmodbus-dev
Section: libdevel
Architecture: any
Depends: libmodbus5 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: development files for the Modbus protocol library
 A Modbus library written in C, to send/receive data with a device which
 respects the Modbus protocol. This library can use a serial port or an
 Ethernet connection.
 .
 This package contains the development files.

